@media only screen and (max-width: 1199px) {
    .nav {
        margin: 0 auto;
        margin-bottom: 12px;
    }

    div.list-nav ul li a {
        height: 0px;
        padding-bottom: 21px;
    }

    .link-logo {
        display: block;
        width: 231px;
        margin: 0 auto;
    }

    .gamburger {
        margin-left: 8px;
    }

}

@media only screen and (max-width: 991px) {
    .header-title h1{
        margin-top: 72px;
        font-size: 26px;
        line-height: 39px;
    }
    .header-title p {
        font-size: 16px;
        line-height: 25px;
    }
    .price span:nth-child(1) {
        font-size: 22px;
    }
    .price span:nth-child(2) {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) {
    div.list-nav {
        display: none;
    }

    .link-logo {
        display: block;
        width: 231px;
        margin: 0 auto;
    }

    .mobil-nav {
        display: block;
    }

    .link-logo {
        display: inline;

    }

    .nav-line-1 span.toll {
        font-size: 10px;
    }

    .nav-line-1 span.phone {
        font-size: 11px;
    }
    .header-title h1{
        font-size: 31px;
        letter-spacing: 0.93px;
        margin-top: 50px;
        line-height: normal;
    }
    .header-title p {
        font-size: 18px;
        line-height: 26px;
    }

}

@media only screen and (max-width: 575px) {
    div.logo-text .main-logo-text {
        font-size: 13px;
    }

    img.logo {
        height: 38px;
        float: left;
        margin-left: 0px;
    }

    div.logo-text .slag-logo {
        font-size: 9px;
    }

    .chat {
        display: none;
    }

    .nav-line-1 span.toll.ml-15 {
        display: none;
    }

    .vertical-line {
        display: inline;
    }

    .ml-15 {
        margin-left: 0;
    }

    .p0{
        padding: 0;
    }
    .container.p0{
        padding: 0 7px;
    }
}