@font-face {
    font-family: HelveticaNeueCyr;
    src: url("../fonts/helveticaneuecyr-bold.otf") format("opentype");
}

@font-face {
    font-family: helveticaneuecyrRoman;
    src: url("../fonts/helveticaneuecyr-roman.otf") format("opentype");
}

@font-face {
    font-family: helveticaneuecyrLigth;
    src: url("../fonts/helveticaneuecyr-light.otf") format("opentype");
}

.bg_b--menu {
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #1e2021;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-line-1 span.toll {
    width: 54px;
    height: 11px;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.nav-line-1 span.phone {
    width: 101px;
    height: 14px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.ml-15 {
    margin-left: 15px;
}

.mr-15 {
    margin-right: 15px;
}

.icons {
    font-size: 15px;
}

.nav-line-2 span a {
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.24px;
}

.nav-line-2 span a:hover {
    text-decoration: none;
}

nav.nav {
    padding: 20px 0;
    padding-bottom: 0;
    width: 100%;
}

img.logo {
    height: 48px;
    float: left;
    margin-left: 10px;
}

.logo-text {
    margin-top: -3px;
}

.link-logo:hover {
    text-decoration: none;
}

div.logo-text .main-logo-text {
    font-family: "helveticaneuecyrRoman";
    letter-spacing: 0.3px;
    color: #0965cd;
    margin-bottom: 0;
    font-size: 18px;
}

div.logo-text .main-logo-text span {
    color: #1d0d32;
    font-family: "HelveticaNeueCyr";
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

div.logo-text .slag-logo {
    color: #656a70;
    font-family: "helveticaneuecyrLigth";
    font-size: 13px;
    font-weight: 300;
    line-height: 11.28px;
    /* Text style for "Custom wri" */
    letter-spacing: 2.12px;
}

div.list-nav {
    display: flex;
    justify-content: flex-end
}

div.list-nav ul li a {
    color: #323538;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    display: block;
    height: 50px;
}

div.list-nav ul li a span {
    color: #323538;
    font-size: 20px;
}

div.list-nav ul li a:hover {
    color: #ff6464;
    border-bottom: 2px solid #ff6464;
}

.gamburger {
    margin-top: 6px;
    margin-left: 55px;
}

a.gamburger:hover {
    color: #323538;
    border-bottom: none;
    text-decoration: none;
}

.active {
    color: #ff6464 !important;
    border-bottom: 2px solid #ff6464;
}

.bg-full-image {
    background-image: url("../images/498424912.png");
    height: 851px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 52px;

    padding: 0;
}

.gradient {
    width: 100%;
    height: 850px;
    background-color: #12213d;
    background-image: linear-gradient(-135deg, rgba(5, 167, 242, 0.8) 0%, rgba(18, 33, 61, 0.92) 60%, #12213d 100%);
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
}

.header-title h1 {
    text-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
    color: #ffffff;
    font-family: "HelveticaNeueCyr";
    font-size: 3.4375em;
    font-weight: 700;
    line-height: 70px;
    /* Text style for "Sed ut Per" */
    letter-spacing: 1.65px;
    margin-top: 173px;
}

.header-title p {
    color: #ffffff;
    font-family: "helveticaneuecyrRoman";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.header-title button, .calc-body button.send {
    width: 263px;
    padding: 18px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #ffc72f;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 55px;
}

.header-title button:hover{
    color: white;
}

.pd-for-calc {
    padding: 70px 0 70px 100px;
}

.calc {
    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 23px 45px;
}

.calc .calc-header p {
    color: #1e2021;
    font-family: "helveticaneuecyrRoman";
    font-size: 27px;
    font-weight: normal;
    line-height: 60px;
}

.calc .calc-header {
    display: flex;
    justify-content: space-between;
}

.calc .calc-header span {
    font-size: 24px;
    margin-top: 18px;
}

.calc .calc-body select, .calc .calc-body input {
    color: #656a70;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid #d6d6d6;
}

.calc .calc-body select:focus, .calc .calc-body input:focus {
    box-shadow: none;
}

.calc .calc-body .form-group {
    margin-bottom: 35px;
}

.selectet-form {
    border-bottom: 2px solid #ffc72f !important;

}

.input-group-append {
    margin-left: 15px;
}

.input-group-prepend {
    margin-right: 15px;
}

.btn-outline-secondary {
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.btn-outline-secondary:hover {
    color: #6c757d;
    background-color: white;
    border-color: #6c757d;
}

.flex-spase-betwen {
    display: flex;
    justify-content: space-between;
}

.btn-order-place {
    width: 280px;
    height: 50px;
    background-color: #ffc72f;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 60px;
}
.btn-order-place:hover {
    color: white;
}

.flex-spase-center {
    display: flex;
    justify-content: center;
}

.price {
    color: #3d094a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
}

.price:nth-child(1) {
    margin-top: 3px;
}

.price span:nth-child(1) {
    color: #05a7f2;
    font-family: "Open Sans";
    font-size: 27px;
    font-weight: 600;
    line-height: 25px;
    margin-right: 10px;
}

.price span:nth-child(2) {
    color: #ff6464;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 600;
    text-decoration: line-through;
}

.calc-body button.send {
    width: 100%;
    margin-top: 0;
}

div.calc .calc-body .flex-spase-betwen {
    margin-bottom: 11px;
}

.counter {
    width: 100%;
    position: relative;
    bottom: -53px;
    padding: 25px 15px;
    box-shadow: 0 3px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
}

.counter div.text-center {
    border-right: 1px solid #e8e8e8;
}

.counter :last-child {
    border-right: none !important;
}

.counter .counter-count {
    color: #0965cd;
    font-family: "Open Sans";
    font-size: 35px;
    letter-spacing: 0.7px;
}

.counter .counter-icon {
    color: #656a70;
    font-size: 21px;
    margin-right: 10px;
    float: left;
    margin-top: 13px;
}

p.line {
    width: 40px;
    height: 2px;
    background-color: #ffc72f;
    margin: 0 auto;
    margin-bottom: 10px;
}

.counter p.counter-title {
    color: #1e2021;
    font-family: "helveticaneuecyrRoman";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 20px;
}

.block {
    padding-top: 86px;
}

.block h3 {
    color: #273f6a;
    font-family: "helveticaneuecyrRoman";
    font-size: 35px;
    font-weight: 400;
}

.block > p {
    color: #a3a6a9;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.4px;
}

.block .service-icon {
    padding: 10px;
    background-color: #f2f2f9;
    font-size: 36px;
    color: #05a7f2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.service-text {
    margin-left: 39px;
}

.service-item {
    border-right: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
    padding: 25px 0 25px 0;

}

.block .service-text p:nth-child(1) {
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    text-align: left;
    line-height: 25px;
    color: #1e2021;
}

.block div.service-text p:nth-child(2) {
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans";
    text-transform: none;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #1e2021;

}

.vertical-al {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 100px;
}

.btn-order {
    width: 75px;
    height: 35px;
    background-color: #ffc72f;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
}

.mobil-nav {
    display: none;
}

.vertical-line {
    display: none;
}

.for-mobile {
    display: none;
}

.bg-color-silver {
    background-color: #f4f4f4;
    padding: 75px 0;
    /*background-image: url("../images/Flowr_Pot.png");*/
    /*background-position: bottom left;*/
    /*background-repeat: no-repeat;*/
}

.block-3 h3 {
    margin-bottom: 58px;
}

.block-3 p {
    color: #51555a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.our-advantages {
    padding: 72px 10% 36px 15%;
    background-image: url("../images/4-layers.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our-content {
    padding: 57px;
    background: white;
    background-image: url("../images/stat_mask_copy.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    box-shadow: 9px 12px 10px rgba(209, 209, 209, 0.6);
}

.our-content .our-content-block-1 h3, .our-content .our-content-block-2 h3{
    color: #273f6a;
    font-family: "helveticaneuecyrRoman";
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 44px;
}
.our-content .our-content-block-2 h3{
    color: #ffc72f;
}

.our-content .our-content-block-1 ul li, .our-content .our-content-block-2 ul li {
    color: #51555a;
    font-family: "Open Sans";
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 27px;
    list-style: none;
}

.our-content .our-content-block-1 ul li i, .our-content .our-content-block-2 ul li i {
    color: #ffb400;
    font-size: 16px;
    margin-right: 22px;
}

.our-content .our-content-block-2 ul li i {
    color: #6b91a4;
}

.our-content .our-content-block-2 ul, .our-content .our-content-block-1 ul {
    padding: 0;
}
.our-content .btn-order-place {
    margin:0 0 0 15px;
}
.how-it-works p.icon-how-it-works{
    font-size: 70px;
}
.how-it-works h4{
    color: #1e2021;
    font-family: "helveticaneuecyrRoman";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}
.how-it-works p{
    color: #51555a;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}

.how-it-works div{
    padding-right: 40px;
}

.how-it-works div span{
    display: block;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 3px solid #0965cd;
    font-size: 14px;
    font-weight: 800;
    color: #0965cd;
    margin-left: 200px;
    margin-bottom: 20px;
}
.how-it-works-wrap .btn-order-place{
    background-color: #05a7f2;
}

.how-it-works-wrap{

    background-image: url("../images/2-layers.png");
    background-position: top center;
    background-repeat: no-repeat;
}